<%- include('./userLayout/header') %>


<form action="/newpass" id="resetPasswordForm" method="POST">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="otp" value="<%= otp %>">
    <label for="otp">Enter OTP:</label>
    <input type="text" id="otp" name="otp" required>
    <label for="newPassword">Enter New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <h6 id="passwordErrorMessage" style="color: red;"></h6>
    <button type="submit">Reset Password</button>
</form>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const resetPasswordForm = document.getElementById('resetPasswordForm');
        const newPasswordInput = document.getElementById('newPassword');
        const passwordErrorMessage = document.getElementById('passwordErrorMessage');

        const validatePassword = (password) => {
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6,}$/;
            return passwordRegex.test(password);
        };

        resetPasswordForm.addEventListener('submit', (event) => {
            if (!validatePassword(newPasswordInput.value)) {
                event.preventDefault(); // Prevent form submission
                passwordErrorMessage.textContent = 'Password must contain at least one lowercase letter, one uppercase letter, one number, one special character, and be at least 6 characters long.';
            } else {
                passwordErrorMessage.textContent = ''; // Clear error message
            }
        });
    });
    
</script>


<%- include('./userLayout/footer') %>